<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>Portfolio</title>
</head>

<body>
    <section id="home" class="fullscreen-section">
        <div class="section-content">
            <p class="portfolio-title">PORTFOLIO</p>
            <p class="contact-info name">name. ABDULLA RAUF</p>
            <p class="contact-info phone">phone. +91 8589019102</p>
            <p class="contact-info email">e-mail. abdullarauf297@gmail.com</p>
            <p class="contact-info links">links. <a href="https://github.com/Rauf77">https://github.com/Rauf77</a></p>
        </div>
    </section>
</body>

</html>
